body {
  font-family: arial, Verdana, sans-serif;
  font-size: 12px;
  color: black;
}

h1 {
  color: black;
}

nav, article, footer, header, #imageBox {
  border: 1px solid black;
  padding: 15px;
  background: #eee;
}

nav, article, footer, header, #imageBox {
  background: #eee;
}


/* Define the basic grid */
.grid {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "nav"
    "article"
    "sidebarTwo"
    "imageBox"
    "sidebar"
    "footer"
}

nav li {
  display: inline-block;
}

nav li a {
  display: block;
  padding: 10px;
  color: #eee;
  text-decoration: none;
  color: black;
}

nav li a:hover {
  color: blue;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.container > div {
  width: 300px;
  margin: 1px;
}

.container > figure {
  width: 200px;
}

/* CSS kicks in when the device width is 576px and above */
@media screen and (min-width: 576px) {
  .grid {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "nav nav"
      "article article"
      "imageBox sidebar"
      "footer footer";
  }

}

/* CSS kicks in when the device width is 768px and above */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .grid {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "nav nav"
      "sidebar article"
      "sidebar article"
      "footer footer";
  }

}

/* CSS kicks in when the device width is 1024px and above */
@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 5fr 1fr 2fr;
    grid-template-areas:
      "nav nav nav"
      "imageBox imageBox sidebar"
      "article article sidebar"
      "footer footer footer";
  }

}

#imageBox {
  display: flex;
  flex-wrap: wrap;
}

article {
  grid-area: article;
  border: 1px solid black;
  padding: 10px;
}

header{
  grid-area: header;
  border: 1px solid black;
  padding: 10px;
}

#sidebar {
  grid-area: sidebar;
  border: 1px solid black;
  padding: 5px;
  background: #eee;
}

#sidebarTwo {
  grid-area: sidebarTwo;
  border: 1px solid black;
  padding: 5px;
}

#mainNav {
  grid-area: nav;
  border: 1px solid black;
  padding: 5px;
}

#imageBox {
  grid-area: imageBox;
  border: 1px solid black;
  width: 100%;
  padding: 5px;
}

#imageBox figure {
  float: left;
  margin: 0 10px 0 0;
}

#imageBoxContent {
  float:
}

footer{
  overflow: scroll;
}